div.container1 {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  text-align: center;
  transform: translate(-50%, -50%)
}

div.container2 {
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.center {
  text-align: center;
}

.caption {
    display: block;
}
